## Ignore bundler config.
/.bundle

## Ignore all logfiles and tempfiles.
/log/*.log
/tmp

## Exception logging files
*.log

## Build directory
/build/

## Sublime Text 2 specific
*.sublime-*

## Miscellaneous
Thumbs.db
.DS_Store
